.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.cart-container{
    text-align: center;
    height: 500px;
    background-color: rgb(245, 196, 106);
    border-radius: 10px;

}
@media screen and (max-width:1200px){
.products-container{
grid-template-columns: repeat(3, 1fr);
}
}

@media screen and (max-width:600px){
.products-container{
    grid-template-columns: 1fr;
}
.shop-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cart-container{
    text-align: center;
    background-color: rgb(245, 196, 106);
}
}