.product img{
    width: 250px;
    height: 250px;
    padding-left: 5px;
}
.product{
   width: 280px;
   height: 500px;
   
   border: 2px solid rgb(207, 91, 110);
   border-radius: 10px;
   
   position: relative;


}
.body-info{
    padding: 20px;
    line-height: 0.8;
}
.btn-cart{
    width: 100%;
    background: rgb(202, 202, 46);
    border: none;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart .btn-text{
margin-right: 10px;
}